<!--Zhuoying Yang(Jocelyn) zyang7724@conestogac.on.ca-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Magic World For Puzzles!</title>
    <link rel="icon" href="image/gilr-logo.png">
</head>
<header class="header">
    <img src="image/shop-logo.png" alt="shop logo" title="logo">
    <h1>Jo's Shop - Puzzle's World</h1>
    <p>Welcome to Puzzles Worlds!</p>
</header>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/allcards">All Cards</a>
        </li>
    </ul>
</nav>

<body>