<!--Zhuoying Yang(Jocelyn) zyang7724@conestogac.on.ca-->
<aside>
    <h2>Pick some goods!</h2>
    <h1>Mario Puzzle:</h1>
    <img src="image/mario.jpeg" alt="Mario" title="Mario">
    <p id="mario">Type: Game Character<br>Style: PS-1-3001<br>Price:$9.9</p>
    <h1>Earth Puzzle:</h1>
    <img src="image/earth.jpeg" alt="earth" title="earth">
    <p id="earth">Type: Nature<br>Style: PS-9-201<br>Price:$18.8</p>
    <h1>Fish Puzzle:</h1>
    <img src="image/fish.jpeg" alt="fish" title="fish">
    <p id="fish">Type: Nature<br>Style: PS-9-209<br>Price:$8</p>
</aside>